<!DOCTYPE html>

<html th:replace="~{fragments/layout :: layout (~{::body},'vets')}"
      xmlns:th="https://www.thymeleaf.org">

<body>

<h2>Veterinarians</h2>

<table class="table table-striped" id="vets">
    <thead>
    <tr>
        <th>Name</th>
        <th>Specialties</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="vet : ${vets.vetList}">
        <td th:text="${vet.firstName + ' ' + vet.lastName}"></td>
        <td><span th:each="specialty : ${vet.specialties}"
                  th:text="${specialty.name + ' '}"/> <span
                th:if="${vet.nrOfSpecialties == 0}">none</span></td>
    </tr>
    </tbody>
</table>
</body>
</html>
